[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pytest-xdist = "*"
allure-pytest = "*"
pymysql = "*"
pytest-html = "*"
requests-oauthlib = "*"
oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
